* {
    box-sizing: border-box;
}


html, body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: Arial, sans-serif;
}



body {

    background: #050505;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;

    padding: 20px;

}




.container {

    width: 100%;
    max-width: 420px;

    min-height: 600px;

    padding: 30px;

    border-radius: 20px;

    background: #111;

    box-shadow: 0 0 25px #008cff;

    text-align: center;

}




h1 {

    color: #008cff;

    margin-bottom: 20px;

}



#equation {

    font-size: 22px;

    margin: 30px 0;

    word-wrap: break-word;

}




input {

    width: 100%;

    padding: 15px;

    font-size: 20px;

    border-radius: 10px;

    border: none;

    outline: none;

    text-align: center;

}




button {

    width: 100%;

    margin-top: 15px;

    padding: 15px;

    border-radius: 10px;

    border: none;

    background: #008cff;

    color: white;

    font-size: 18px;

}



button:active {

    transform: scale(0.97);

}




#result {

    margin-top: 25px;

    font-size: 18px;

    min-height: 30px;

}




.success {

    color: #00ff55;

}



.fail {

    color: red;

}





#progressBar {

    height: 10px;

    background: #008cff;

    border-radius: 10px;

    margin-top: 20px;

}



.timer {

    margin-top: 10px;

    font-size: 18px;

}
