* {
    box-sizing: border-box;
}


html {
    width: 100%;
    min-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}


body {

    width: 100%;
    min-height: 100vh;

    margin: 0;
    padding: 20px;

    overflow-y: auto !important;
    overflow-x: hidden;

    background: #050505;

    color: white;

    font-family: Arial, sans-serif;

}



.container {

    width: 100%;
    max-width: 420px;

    margin: auto;

    min-height: 650px;

    height: auto;

    padding: 30px 20px 80px 20px;

    background: #111;

    border-radius: 20px;

    box-shadow: 0 0 25px #008cff;

    text-align: center;

}



h1 {

    color: #008cff;

    font-size: 28px;

    margin-bottom: 20px;

}



#equation {

    font-size: 22px;

    margin-top: 30px;

    margin-bottom: 30px;

    word-break: break-word;

}



input {

    width: 100%;

    padding: 15px;

    font-size: 20px;

    text-align: center;

    border-radius: 10px;

    border: none;

    outline: none;

}



button {

    width: 100%;

    padding: 15px;

    margin-top: 15px;

    border: none;

    border-radius: 10px;

    background: #008cff;

    color: white;

    font-size: 18px;

}



button:active {

    transform: scale(0.96);

}



#result {

    margin-top: 30px;

    min-height: 50px;

    font-size: 20px;

    word-break: break-word;

}



.success {

    color: #00ff55;

}



.fail {

    color: red;

}



#progressBar {

    width: 100%;

    height: 10px;

    background: #008cff;

    border-radius: 10px;

    margin-top: 20px;

}



#time {

    margin-top: 15px;

    font-size: 20px;

}



/* Correction spéciale téléphone */

@media screen and (max-width: 600px) {


    body {

        align-items: flex-start;

        padding: 15px;

    }


    .container {

        margin-top: 20px;

        padding-bottom: 120px;

    }


}
